<div class="field">
	<label for="{{name}}" class="field-label">{{label}}</label>
	<input oninput="signupForm.change(this.name, this.value)" type="{{type}}" class="field-input" name="{{name}}"
		placeholder="{{placeholder}}">

</div>